* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto-Regular';
}

p {
  margin-bottom: 1rem;
}

.img_search {
  width: 20px;
  position: absolute;
  right: 9px;
  margin-top: 10px;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
  background: transparent;
  border: none;
}

.active_resize {
  width: 70px !important;
}

.active_open_chat {
  width: 40% !important;
}

.rotateBtn {
  transform: rotate(180deg);
}

.content_resize {
  width: calc(100% - 70px) !important;
}

.required:after {
  content: "*";
  margin-left: 3px;
  color: #FF3333;
  font-size: 15px;
  font-family: Roboto-Bold;
}

svg {
  overflow: hidden;
}

.title_label {
  font-size: 15px;
  font-family: Roboto-Medium;
  line-height: 18px;
  color: #474747;
  width: 100%;
  margin-bottom: 5px;
  display: block;
}

.text_editor_2 {
  margin-top: 10px;
}

.p10 {
  display: block;
}

.ck-editor__editable {
  margin-top: 10px;
  min-height: 180px;
}

.ck-editor__editable .ck-placeholder {
  display: none;
}

.ck .ck-sticky-panel .ck-sticky-panel__content_sticky {
  position: relative !important;
  z-index: 0 !important;
  top: auto !important;
  bottom: 0 !important;
}

.ck .ck-sticky-panel__placeholder {
  height: auto !important;
}

.mMenu__header {
  display: none;
}

@media (min-width: 1024px) {
  .active_resize {
    width: 70px !important;
  }

  .content_resize {
    width: calc(100% - 70px) !important;
  }

  .none {
    display: none;
  }

}

@media (max-width: 1024px) {
  .mMenu__header {
    cursor: pointer;
    display: block;
  }

  .active_resize {
    width: 302px !important;
  }

  .content_resize {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .mMenu__header {
    cursor: pointer;
    display: block;
  }

  .active_resize {
    width: 270px !important;
  }

  .content_resize {
    width: 100% !important;
  }

  .active_open_chat {
    width: 100% !important;
    height: 99%;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
}

.icon_menu_nav {
  width: 22px;
  height: 15.89px;
}

.flex_align_center {
  display: flex;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}


/* Custom table Antd */
.custom_table {
  margin-top: 40px;
  position: relative;
}

tr>th {
  background-color: #4C5BD4 !important;
  color: #fff !important;
  text-align: center !important;
  font-size: 16px !important;
}

tr {
  text-align: center !important;
}

.action_table {
  font-family: 'Roboto-Medium';
  font-size: 14px;
  color: #4C5BD4;
  height: 26px;
  position: relative;
  display: flex;
  align-items: center;
}

.custom_table .ant-table-pagination {
  position: relative !important;
}

.ant-pagination-options {
  position: absolute;
  left: 0;
  display: none !important;
}

.show_item {
  padding: 7.6px 15px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 16%);
  border-radius: 10px;
  margin-left: 5px;
}

.main__footer{
  position: absolute;
  bottom: 0;
  width: 50%;
}